@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic);
/* Variables */
/* Navigation Bar */
/* line 15, ../sass/toolbar.scss */
body.has-ss-globaltoolbar { padding-top: 45px; overflow-x: hidden; margin: 0; }

/* line 21, ../sass/toolbar.scss */
.ss-globaltoolbar { width: 100%; position: absolute; top: 0; background-color: #0d131f; *zoom: 1; filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF0D131F', endColorstr='#FF121929'); background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0d131f), color-stop(100%, #121929)); background-image: -webkit-linear-gradient(top, #0d131f 0%, #121929 100%); background-image: -moz-linear-gradient(top, #0d131f 0%, #121929 100%); background-image: -o-linear-gradient(top, #0d131f 0%, #121929 100%); background-image: linear-gradient(top, #0d131f 0%, #121929 100%); font-size: 14px; font-family: "PT Sans", sans-serif; font-weight: normal; }
/* line 32, ../sass/toolbar.scss */
.ss-globaltoolbar .inner { width: 960px; margin: 0 auto; height: 45px; }
/* line 38, ../sass/toolbar.scss */
.ss-globaltoolbar .logo { float: left; width: 30px; height: 45px; background: url(../images/ss-logo-white.png) center center no-repeat; }
/* line 44, ../sass/toolbar.scss */
.ss-globaltoolbar .ss-globaltoolbar-cse-search { float: left; margin-left: 89px; }
/* line 47, ../sass/toolbar.scss */
.ss-globaltoolbar .ss-globaltoolbar-cse-search form.gsc-search-box { width: auto; padding: 0 0 0 12px; position: relative; margin: 5px 40px; }
/* line 52, ../sass/toolbar.scss */
.ie7 .ss-globaltoolbar .ss-globaltoolbar-cse-search form.gsc-search-box { width: 413px; }
/* line 55, ../sass/toolbar.scss */
.ss-globaltoolbar .ss-globaltoolbar-cse-search form.gsc-search-box td.gsc-input { padding-right: 6px; }
/* line 58, ../sass/toolbar.scss */
.ss-globaltoolbar .ss-globaltoolbar-cse-search form.gsc-search-box input.gsc-input { float: left; width: 345px; height: 31px; background-color: whitesmoke; border: 2px solid #bbbbbb; font-size: 18px; color: #aaaaaa; padding: 0 35px 0 10px; -webkit-transition-property: border; -moz-transition-property: border; -o-transition-property: border; transition-property: border; -webkit-transition-duration: 0.3s; -moz-transition-duration: 0.3s; -o-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-timing-function: ease-out; -moz-transition-timing-function: ease-out; -o-transition-timing-function: ease-out; transition-timing-function: ease-out; }
/* line 70, ../sass/toolbar.scss */
.ss-globaltoolbar .ss-globaltoolbar-cse-search form.gsc-search-box input.gsc-input:focus { border-color: #82d1ff; }
/* line 74, ../sass/toolbar.scss */
.ss-globaltoolbar .ss-globaltoolbar-cse-search form.gsc-search-box td.gsc-search-button { width: 0px; }
/* line 77, ../sass/toolbar.scss */
.ss-globaltoolbar .ss-globaltoolbar-cse-search form.gsc-search-box input.gsc-search-button { position: absolute; background-color: transparent; cursor: pointer; right: 30px; top: 7px; width: 18px; height: 22px; border: none; min-width: 18px; text-indent: -119988px; overflow: hidden; text-align: left; text-transform: capitalize; background: url(../images/search.png) 0px center no-repeat; }
/* line 90, ../sass/toolbar.scss */
.ss-globaltoolbar .ss-globaltoolbar-cse-search form.gsc-search-box input.gsc-search-button:hover { background-position: -18px center; }
/* line 93, ../sass/toolbar.scss */
.ss-globaltoolbar .ss-globaltoolbar-cse-search form.gsc-search-box input.gsc-search-button:active { background-position: -36px center; }
/* line 97, ../sass/toolbar.scss */
.ss-globaltoolbar .ss-globaltoolbar-cse-search form.gsc-search-box div.gsc-clear-button { margin: 0; }
/* line 104, ../sass/toolbar.scss */
.ss-globaltoolbar .wrapper-dropdown { /* Size & position */ position: relative; height: 22px; padding: 13px 40px 10px 10px; float: left; /* Styles */ cursor: pointer; outline: none; -webkit-transition-property: color; -moz-transition-property: color; -o-transition-property: color; transition-property: color; -webkit-transition-duration: 0.3s; -moz-transition-duration: 0.3s; -o-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-timing-function: ease-out; -moz-transition-timing-function: ease-out; -o-transition-timing-function: ease-out; transition-timing-function: ease-out; }
/* line 118, ../sass/toolbar.scss */
.ss-globaltoolbar .wrapper-dropdown.active:after { border-color: #82d1ff transparent; border-width: 0 5px 5px 5px; }
/* line 122, ../sass/toolbar.scss */
.ss-globaltoolbar .wrapper-dropdown.active .dropdown { max-height: 400px; }
/* line 126, ../sass/toolbar.scss */
.ss-globaltoolbar .wrapper-dropdown .dropdown-placeholder { color: whitesmoke; -webkit-transition-property: color; -moz-transition-property: color; -o-transition-property: color; transition-property: color; -webkit-transition-duration: 0.3s; -moz-transition-duration: 0.3s; -o-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-timing-function: ease-out; -moz-transition-timing-function: ease-out; -o-transition-timing-function: ease-out; transition-timing-function: ease-out; }
/* line 131, ../sass/toolbar.scss */
.ss-globaltoolbar .wrapper-dropdown .dropdown-placeholder:hover { color: #82d1ff; }
/* line 136, ../sass/toolbar.scss */
.ss-globaltoolbar .wrapper-dropdown::after { /* Little arrow */ content: ""; width: 0; height: 0; position: absolute; top: 50%; right: 15px; margin-top: -2px; border-width: 5px 5px 0 5px; border-style: solid; border-color: white transparent; }
/* line 148, ../sass/toolbar.scss */
.ss-globaltoolbar .wrapper-dropdown .dropdown { /* Size & position */ position: absolute; top: 100%; left: 0; right: 0; margin: 0; padding: 0; /* Styles */ background: white; border: 1px solid whitesmoke; list-style: none; -webkit-transition-property: color; -moz-transition-property: color; -o-transition-property: color; transition-property: color; -webkit-transition-duration: 0.3s; -moz-transition-duration: 0.3s; -o-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-timing-function: ease-out; -moz-transition-timing-function: ease-out; -o-transition-timing-function: ease-out; transition-timing-function: ease-out; -webkit-box-shadow: rgba(18, 25, 41, 0.03) 1px 1px 4px; -moz-box-shadow: rgba(18, 25, 41, 0.03) 1px 1px 4px; box-shadow: rgba(18, 25, 41, 0.03) 1px 1px 4px; /* Hiding */ max-height: 0; overflow: hidden; }
/* line 169, ../sass/toolbar.scss */
.ss-globaltoolbar .wrapper-dropdown .dropdown li { padding: 0 10px; }
/* line 171, ../sass/toolbar.scss */
.ss-globaltoolbar .wrapper-dropdown .dropdown li a { display: block; text-decoration: none; color: #121929; font-size: 16px; padding: 10px 0; -webkit-transition-property: color; -moz-transition-property: color; -o-transition-property: color; transition-property: color; -webkit-transition-duration: 0.3s; -moz-transition-duration: 0.3s; -o-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-timing-function: ease-out; -moz-transition-timing-function: ease-out; -o-transition-timing-function: ease-out; transition-timing-function: ease-out; }
/* line 181, ../sass/toolbar.scss */
.ss-globaltoolbar .wrapper-dropdown .dropdown li:last-of-type a { border: none; }
/* line 184, ../sass/toolbar.scss */
.ss-globaltoolbar .wrapper-dropdown .dropdown li:hover a { color: #1cabff; }

/* line 192, ../sass/toolbar.scss */
.ss-globaltoolbar-profile { float: right; width: 150px; height: 45px; }
/* line 196, ../sass/toolbar.scss */
.ss-globaltoolbar-profile iframe { height: 43px; border: none; }

/* line 202, ../sass/toolbar.scss */
.ss-globaltoolbar-iframe { padding: 13px 0 10px 0px; margin: 0; }

/* line 207, ../sass/toolbar.scss */
.ss-globaltoolbar-login { color: white; }
/* line 209, ../sass/toolbar.scss */
.ss-globaltoolbar-login a { color: white; text-decoration: none; -webkit-transition-property: color; -moz-transition-property: color; -o-transition-property: color; transition-property: color; -webkit-transition-duration: 0.3s; -moz-transition-duration: 0.3s; -o-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-timing-function: ease-out; -moz-transition-timing-function: ease-out; -o-transition-timing-function: ease-out; transition-timing-function: ease-out; }
/* line 215, ../sass/toolbar.scss */
.ss-globaltoolbar-login a:hover { color: #82d1ff; }
/* line 219, ../sass/toolbar.scss */
.ss-globaltoolbar-login .login { padding-left: 25px; display: relative; margin-right: 10px; }
/* line 223, ../sass/toolbar.scss */
.ss-globaltoolbar-login .login span { display: block; left: 0; top: 12px; position: absolute; width: 17px; height: 22px; background: url(../images/login.png) 0 0 no-repeat; }
