@font-face { font-family: 'PT Sans'; src: url("../../toolbar/fonts/pt_sans_bold-webfont.eot"); src: local("PTSansRegular"), url("../../toolbar/fonts/pt_sans_bold-webfont.woff") format("woff"), url("../../toolbar/fonts/PT_Sans-Web-Bold.ttf") format("truetype"); font-weight: bold; font-style: normal; }

@font-face { font-family: 'PT Sans'; src: url("../../toolbar/fonts/pt_sans_regular-webfont.eot"); src: local("PTSansRegular"), url("../../toolbar/fonts/pt_sans-webfont.woff") format("woff"), url("../../toolbar/fonts/PT_Sans-Web-Regular.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'icomoon'; src: url("../../toolbar/fonts/icomoon.eot"); src: url("../../toolbar/fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../../toolbar/fonts/icomoon.woff") format("woff"), url("../../toolbar/fonts/icomoon.ttf") format("truetype"), url("../../toolbar/fonts/icomoon.svg#icomoon") format("svg"); font-weight: normal; font-style: normal; }

/* Navigation Bar */
/* line 31, ../sass/toolbar.scss */
body.has-ss-globaltoolbar { padding-top: 48px; overflow-x: hidden; margin: 0; }

/* line 37, ../sass/toolbar.scss */
.ss-globaltoolbar { width: 100%; position: absolute; top: 0; background-color: #0d131f; *zoom: 1; filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF0D131F', endColorstr='#FF121929'); background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0d131f), color-stop(100%, #121929)); background-image: -webkit-linear-gradient(top, #0d131f 0%, #121929 100%); background-image: -moz-linear-gradient(top, #0d131f 0%, #121929 100%); background-image: -o-linear-gradient(top, #0d131f 0%, #121929 100%); background-image: linear-gradient(top, #0d131f 0%, #121929 100%); }
/* line 46, ../sass/toolbar.scss */
.ss-globaltoolbar * { font-family: "PT Sans", sans-serif; font-weight: normal; margin: 0; padding: 0; border: 0; box-sizing: border-box; }
/* line 55, ../sass/toolbar.scss */
.ss-globaltoolbar .icon-Search, .ss-globaltoolbar .icon-Login { font-family: 'icomoon'; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; }
/* line 65, ../sass/toolbar.scss */
.ss-globaltoolbar .icon-Search:before { content: "\1f50d"; }
/* line 68, ../sass/toolbar.scss */
.ss-globaltoolbar .icon-Login:before { content: "\1f464"; }
/* line 72, ../sass/toolbar.scss */
.ss-globaltoolbar .inner { width: 960px; margin: 0 auto; height: 45px; }
/* line 78, ../sass/toolbar.scss */
.ss-globaltoolbar .logo { float: left; width: 30px; height: 45px; background: url(../images/ss-logo-white.png) center center no-repeat; }
/* line 83, ../sass/toolbar.scss */
.ss-globaltoolbar .logo span { display: none; }
/* line 87, ../sass/toolbar.scss */
.ss-globaltoolbar form { float: right; padding: 0 0 0 12px; position: relative; margin: 5px 40px; }
/* line 92, ../sass/toolbar.scss */
.ss-globaltoolbar form input.text { float: left; width: 390px; height: 35px; background: #F5F5F5; border: 2px solid #BBBBBB; font-size: 18px; color: #AAAAAA; padding: 0 35px 0 10px; outline: none; }
/* line 103, ../sass/toolbar.scss */
.ss-globaltoolbar form button.submit { position: absolute; background-color: transparent; cursor: pointer; right: 10px; top: 7px; width: 22px; height: 22px; }
/* line 111, ../sass/toolbar.scss */
.ss-globaltoolbar form button.submit span { font-size: 22px; color: #798D85; }
/* line 118, ../sass/toolbar.scss */
.ss-globaltoolbar .wrapper-dropdown { /* Size & position */ position: relative; width: auto; height: 45px; margin: 0 auto; padding: 11px 40px 12px 10px; float: left; /* Styles */ background: transparent; cursor: pointer; outline: none; transition: all 0.3s ease-out; color: #f7f7f7; font-size: 16px; }
/* line 135, ../sass/toolbar.scss */
.ss-globaltoolbar .wrapper-dropdown:after { /* Little arrow */ content: ""; width: 0; height: 0; position: absolute; top: 50%; right: 15px; margin-top: -2px; border-width: 5px 5px 0 5px; border-style: solid; border-color: #f7f7f7 transparent; }
/* line 147, ../sass/toolbar.scss */
.ss-globaltoolbar .wrapper-dropdown .dropdown { /* Size & position */ position: absolute; top: 100%; left: 0; right: 0; /* Styles */ background: #ffffff; border: 1px solid #f5f5f5; list-style: none; transition: all 0.3s ease-out; -webkit-box-shadow: rgba(18, 25, 41, 0.03) 1px 1px 4px; -moz-box-shadow: rgba(18, 25, 41, 0.03) 1px 1px 4px; box-shadow: rgba(18, 25, 41, 0.03) 1px 1px 4px; /* Hiding */ max-height: 0; overflow: hidden; }
/* line 164, ../sass/toolbar.scss */
.ss-globaltoolbar .wrapper-dropdown .dropdown li { padding: 0 10px; }
/* line 166, ../sass/toolbar.scss */
.ss-globaltoolbar .wrapper-dropdown .dropdown li a { display: block; text-decoration: none; color: #121929; font-size: 16px; padding: 10px 0; transition: all 0.3s ease-out; }
/* line 174, ../sass/toolbar.scss */
.ss-globaltoolbar .wrapper-dropdown .dropdown li:last-of-type a { border: none; }
/* line 177, ../sass/toolbar.scss */
.ss-globaltoolbar .wrapper-dropdown .dropdown li:hover a { color: #57a9d9; }
/* line 183, ../sass/toolbar.scss */
.ss-globaltoolbar .wrapper-dropdown.active:after { border-color: #82d1ff transparent; }
/* line 186, ../sass/toolbar.scss */
.ss-globaltoolbar .wrapper-dropdown.active .dropdown { max-height: 400px; }
/* line 191, ../sass/toolbar.scss */
.ss-globaltoolbar .login { /* Size & position */ float: right; height: 45px; padding: 11px 10px 12px 30px; position: relative; /* Styles */ color: #f7f7f7; font-size: 16px; }
/* line 200, ../sass/toolbar.scss */
.ss-globaltoolbar .login span { display: block; width: 25px; height: 45px; position: absolute; left: 0; top: 0; font-size: 20px; line-height: 45px; }
