/* Green button primary */
/* #de6537 */
/* #d9534f */
/* was 16px */
/* #fff */
/* not used? */
/* not used? */
.top-level .header .navbar-global,
.top-level .navbar-secondary {
  background-color: transparent;
  font-weight: 600; }
.top-level.Security .header .navbar-global, .top-level.forums .header .navbar-global {
  background-color: #1b354c; }

.header .navbar-secondary {
  background-color: transparent;
  -webkit-transition: background-color 400ms linear;
  -moz-transition: background-color 400ms linear;
  -o-transition: background-color 400ms linear;
  -ms-transition: background-color 400ms linear;
  transition: background-color 400ms linear; }
.header .navbar {
  border: none; }

.navbar-global {
  border: none;
  height: 50px;
  text-align: left;
  /* align left only for sm devices */
  -webkit-transition: background-color 800ms linear;
  /* refactor to mixin */
  -moz-transition: background-color 800ms linear;
  -o-transition: background-color 800ms linear;
  -ms-transition: background-color 800ms linear;
  transition: background-color 800ms linear; }
  @media (min-width: 767px) {
    .navbar-global {
      text-align: center; } }
  .navbar-global .global-nav a, .navbar-global .mobile-menu-holder a, .navbar-global .mobile-nav a, .navbar-global h1.visible-xs {
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff; }
  .navbar-global .global-right li a {
    font-size: 22px;
    padding: 13px;
    color: #2f718a; }
    .navbar-global .global-right li a:hover {
      color: #fff; }
  .navbar-global .global-right > li {
    float: right; }
  @media (max-width: 767px) {
    .navbar-global .global-right a {
      padding: 0;
      margin-right: 0; } }
  .navbar-global.navbar > .container .navbar-brand, .navbar-global.navbar > .container-fluid .navbar-brand {
    margin-left: 0; }
  .navbar-global .global-nav {
    float: none;
    max-width: 490px;
    margin: 0 auto; }
    .navbar-global .global-nav li {
      margin: 0 10px; }
      .navbar-global .global-nav li.section a, .navbar-global .global-nav li.current a {
        border-bottom: 1px solid #42c6f3;
        padding-bottom: 6px; }
    .navbar-global .global-nav > li {
      float: none;
      display: inline-block; }
    .navbar-global .global-nav a {
      padding-left: 0;
      padding-right: 0;
      opacity: 60%;
      font-size: 11px; }
      .navbar-global .global-nav a:hover {
        opacity: 100%; }
  @media (min-width: 768px) and (max-width: 991px) {
    .navbar-global .navbar-header {
      width: 36px; }
    .navbar-global .global-nav {
      float: left; } }
  .navbar-global h1.visible-xs {
    font-size: 15px;
    text-align: center;
    max-width: 200px;
    margin: 16px auto;
    position: absolute;
    left: 0;
    right: 0; }
  .navbar-global .navbar-toggle {
    margin-top: 0;
    margin-bottom: 0; }
    .navbar-global .navbar-toggle:hover {
      text-decoration: none; }
    .navbar-global .navbar-toggle span {
      color: #fff;
      font-size: 30px;
      display: none; }
      .navbar-global .navbar-toggle span.ion-navicon {
        display: block; }
    .navbar-global .navbar-toggle.collapsed span.ion-close {
      display: none; }
  .navbar-global .mobile-menu-holder {
    position: absolute;
    padding: 0;
    border-top: 0;
    top: 0;
    width: 100%; }
    .navbar-global .mobile-menu-holder .nav-tabs {
      margin: 0;
      border-bottom: none;
      padding: 0; }
      .navbar-global .mobile-menu-holder .nav-tabs li {
        display: table-cell;
        width: 1%;
        text-align: center;
        padding: 0; }
        .navbar-global .mobile-menu-holder .nav-tabs li.active a, .navbar-global .mobile-menu-holder .nav-tabs li.show a {
          color: #42c6f3;
          border: none; }
          .navbar-global .mobile-menu-holder .nav-tabs li.active a:focus, .navbar-global .mobile-menu-holder .nav-tabs li.active a:hover, .navbar-global .mobile-menu-holder .nav-tabs li.show a:focus, .navbar-global .mobile-menu-holder .nav-tabs li.show a:hover {
            border: none; }
        .navbar-global .mobile-menu-holder .nav-tabs li a,
        .navbar-global .mobile-menu-holder .nav-tabs li a:focus,
        .navbar-global .mobile-menu-holder .nav-tabs li a:hover,
        .navbar-global .mobile-menu-holder .nav-tabs li a:active {
          background-color: #1b354c;
          border: none;
          font-size: 22px;
          margin-right: 0;
          color: #fff;
          outline: none; }
        .navbar-global .mobile-menu-holder .nav-tabs li a {
          color: #2f718a; }
          .navbar-global .mobile-menu-holder .nav-tabs li a.menu-title {
            font-size: 15px;
            padding-top: 17px; }
          .navbar-global .mobile-menu-holder .nav-tabs li a.navbar-toggle {
            /* second toggle only used for closing mobile menu */
            float: none;
            margin: 0; }
          .navbar-global .mobile-menu-holder .nav-tabs li a .ion-navicon {
            font-size: 40px; }
        .navbar-global .mobile-menu-holder .nav-tabs li.show {
          background-color: #1b354c; }
          .navbar-global .mobile-menu-holder .nav-tabs li.show a,
          .navbar-global .mobile-menu-holder .nav-tabs li.show a:focus,
          .navbar-global .mobile-menu-holder .nav-tabs li.show a:hover,
          .navbar-global .mobile-menu-holder .nav-tabs li.show a:active {
            background-color: #1b354c;
            border: none; }
          .navbar-global .mobile-menu-holder .nav-tabs li.show.active a {
            color: #fff; }
    .navbar-global .mobile-menu-holder .tab-content {
      min-height: 320px;
      border: 0;
      margin-top: 5px; }
  .navbar-global .mobile-nav {
    margin: -12px;
    background-color: #1b354c; }
    .navbar-global .mobile-nav li {
      border-top: 1px solid #122332; }
      .navbar-global .mobile-nav li a {
        padding-top: 13px;
        padding-bottom: 13px; }
        .navbar-global .mobile-nav li a:hover {
          background-color: #122332; }
      .navbar-global .mobile-nav li .nav a {
        background-color: #162b3d;
        padding-left: 30px; }
        .navbar-global .mobile-nav li .nav a:hover {
          background-color: #122332; }
      .navbar-global .mobile-nav li .nav .nav a {
        padding-left: 45px; }
      .navbar-global .mobile-nav li .nav .nav .nav a {
        padding-left: 60px; }
      .navbar-global .mobile-nav li.current > a {
        background-color: #122332; }

.page_homepage .global-nav {
  position: relative; }
